#photo {
	text-align: center;
  margin-top: 85px;
  height: 100%;

  #album_breadcrumb {
    position: fixed;
    text-align: left;
    height: 48px;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 1250;

    button {
      float: right;
      height: 48px;
    }

    .yellow.rectangle{
  		width: 219px;
  		height: 48px;
  		background-color: #f6a623;
  		display: inline-block;
  		float: left;
  		text-align: right;
  		font-size: 20px;
  		font-weight: bold;
  		color: #000000;
  		line-height: 48px;
  		padding-right: 10px;
      cursor: pointer;
	  }

    .yellow.triangle{
	  width: 0;
	  height: 0;
	  border-top: 24px solid transparent;
	  border-bottom: 24px solid transparent;
	  border-left: 20px solid #f6a623;
		z-index: 1001;
		display: inline-block;
		float: left;
		position: relative;
	  }

  }

  #album-card-grid {
    display: grid;
    width: 100%;
    height: 1500px;
    padding-top: 48px;
    padding-left: 6%;
    padding-right: 6%;
   
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-gap: 10px;
    justify-items: center;

    .ui.card {
      margin: 1em 0!important;
    }

  }
}

