#seminar-header {
  margin-top: 85px;
  background-image: url('./../static/mesh05.png');
}

#seminar-list {
  margin-top: 3em;
  margin-bottom: 3em;
}

@media only screen and (max-width: 767px) {
  .desktop-only {
    display: none;
  }
  .ui.table:not(.unstackable) thead.desktop-only {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

.actions {
  margin-top : 15px;
  text-align: right;
}

#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}

.pagination-wrapper {
  width: 100%;
  text-align: center;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
}

.pagination>li {
  display: inline;
}

.pagination>li:after {
  box-sizing: border-box;
}

.pagination>li:before {
  box-sizing: border-box;
}

.pagination>li>a {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.4285;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #337ab7!important;
  background-color: #fff;
}

.pagination>li:first-child>a {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination>.disabled>a {
  color: #777!important;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}

.pagination>.active>a {
  z-index: 3;
  color: #fff!important;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
